out linear(1, True)
-h1 residual_dnn($layers, activation=$activation, bn=$bn, skiplayers=3, keep_prob=$keep_prob)
--bn batch_normalize()
---x concat($concat_size)
----huser lookup(dataname='user', initrange=$initrange, shape=[None, $uembed])
----hitem lookup(dataname='item', initrange=$initrange, shape=[None, $iembed])
