out linear(1, True)
-h1 dnn($layers, activation=$activation, bn=$bn, keep_prob=$keep_prob)
--x binary_tensor_combine($concat_size, initrange=$initrange)
---huser lookup(dataname='user', initrange=$initrange, shape=[None, $uembed])
---hitem lookup(dataname='item', initrange=$initrange, shape=[None, $iembed])
