out linear(1, True)
-x binary_tensor_combine2($concat_size)
--h1 dnn($layers, activation=$activation, bn=$bn, keep_prob=$keep_prob)
---huser lookup(dataname='user', initrange=$initrange, shape=[None, $uembed])
--h1 dnn($layers, activation=$activation, bn=$bn, keep_prob=$keep_prob)
---hitem lookup(dataname='item', initrange=$initrange, shape=[None, $iembed])
