out ident()
-user_vecs ident()
--huser lookup(dataname='user', initrange=$initrange, shape=[None, $kfactors])
--hage dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---agelookup embedding()
----age placeholder(tf.float32)
----user placeholder(tf.int32)
--hsex dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---sexlookup embedding()
----sex_weights weights('tnorm',  [2, $kfactors])
----sexes embedding()
-----sex placeholder(tf.int32)
-----user placeholder(tf.int32)
--hocc dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---occlookup embedding()
----occ_weights weights('tnorm',  [21, $kfactors])
----occs embedding()
-----occ placeholder(tf.int32)
-----user placeholder(tf.int32)
--hzip dnn($layers,activation='tanh',bn=$bn,keep_prob=$keep_prob)
---ziplookup embedding()
----zip_weights weights('tnorm',  [1000, $kfactors])
----zips embedding()
-----zip placeholder(tf.int32)
-----user placeholder(tf.int32)
--husertime dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---time placeholder(tf.float32)
-item_vecs ident()
--hitem lookup(dataname='item', initrange=$initrange, shape=[None, $kfactors])
--hgenre dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---genrelookup embedding()
----genres placeholder(tf.float32)
----item placeholder(tf.int32)
--hmonth dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---monthlookup embedding()
----month_weights weights('tnorm', [12, $kfactors])
----months embedding()
-----month placeholder(tf.int32)
-----item placeholder(tf.int32)
--hyear dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---yearlookup embedding()
----year placeholder(tf.float32)
----item placeholder(tf.int32)
--htfidf dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---tfidflookup embedding()
----tfidf_doc_term placeholder(tf.float32)
----item placeholder(tf.int32)
--hitemtime dnn($layers,activation=$act,bn=$bn,keep_prob=$keep_prob)
---time placeholder(tf.float32)
-ibias lookup(dataname='item', shape=[None, 1], initrange=$initrange)
-ubias lookup(dataname='user', shape=[None, 1], initrange=$initrange)
