dotproduct x_dot_y()
-huser lookup(dataname='user', initrange=$initrange, shape=[None, $kfactors])
-hitem lookup(dataname='item', initrange=$initrange, shape=[None, $kfactors])
-ibias lookup(dataname='item', initrange=$initrange, shape=[None, 1])
-ubias lookup(dataname='user', initrange=$initrange, shape=[None, 1])
