dotproduct x_dot_y()
    -huser lookup(dataname='user', initrange=0.001, l2=0.1, shape=[None, 100])
    -hitem lookup(dataname='item', initrange=0.001, l2=0.1, shape=[None, 100])
    -ibias lookup(dataname='item', initrange=0.001, l2=0.1, shape=[None, 1])
    -ubias lookup(dataname='user', initrange=0.001, l2=0.1, shape=[None, 1])
